@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap");
@import "../../../styles/mixins";

.add-list {
  margin: auto;
  min-width: 200px;
  @include flex-center;
  flex-wrap: wrap;

  input {
    background-color: rgba(211, 211, 211, 0.37);
    border-radius: 5px;
    color: #ffffff;
    height: 30px;
    width: 160px;
    padding: 10px 14px;
    margin: 0 10px;
    font: {
      size: 16px;
      family: "Noto Sans TC", sans-serif;
      weight: 500;
    }
    &:focus {
      background-color: #ffffff;
      color: #2f363f;
    }
  }

  .color-picker {
    padding: 20px 10px;
  }
}
